p{
    color: white;
    background: green;
}

div{
    width: 100px;
    height: 100px;
    background: red;
}
#box{
    margin: 10px;
    background: pink;
}
table, tr, th, td {
    width: 400px;
    border: 1px solid black;
    text-align: left;
}